.section {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: auto;
}

.dash {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.character {
  display: flex;
  flex-direction: column;
}

.character_center {
  width: 1300px;
  height: 455px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


.cardCharacter {
  display: inline-block;
  flex-direction: column;
  color: black;
  border: 5px solid rgb(69, 83, 4);
  border-radius: 50px;
  padding: 10px 10px;
  margin: 10px;
  width: 200px;
  height: 200px;
  background-image: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgba(69,83,4,1) 0%, rgba(190,183,80,1) 90% );
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.cardCharacter > img {
  width: 100%;
  border-radius: 50px;
  display: block;
}

.cardCharacter > p {
  text-align: center;
  justify-content: center;
}

.cardCharacter > footer {
  color: aliceblue;
  width: 0%;
  height: 100%;
  background: rgba(53, 42, 73, 0.71);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 400ms ease-in-out;
  left: 0;
}

.cardCharacter:hover footer {
  width: 100%;
}

.locations {
  display: flex;
  flex-direction: column;
}

.locations_center {
  column-count: 3;
  width: 1500px;
}

.cardLocations {
  display: inline-block;
  flex-direction: column;
  background-color: rgb(190, 183, 80);
  color: black;
  border: 5px solid rgb(69, 83, 4);
  border-radius: 7px;
  padding: 10px 10px;
  margin: 10px;
  width: 300px;
  height: 350px;
}

.episodes {
  display: flex;
  flex-direction: column;
}

.episodes_center {
  column-count: 3;
  width: 0 auto;
}

.cardEpisodes {
  display: inline-block;
  flex-direction: column;
  background-color: rgb(190, 183, 80);
  color: black;
  border: 5px solid rgb(69, 83, 4);
  border-radius: 7px;
  padding: 10px 10px;
  margin: 10px;
  width: 300px;
  height: 350px;
}

.home {
  align-items: center;
  display: block;
  margin: auto;
  font-weight: bold;
}

.home > h1 {
  text-align: center;
}

.foot {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  justify-content: space-between;
  padding: 0 50px;
  box-shadow: 0px 2px 3px rgb(0,0,0,0.5);
}

.nav {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 50px;
  color: rgb(136, 134, 0);
}

.btn {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 15px 25px;
  transition: all 0.3s ease-in-out;
  border-radius: 0px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 100px;
}

.btn:hover {
  background-color: rgb(136, 134, 0);
}

.containerInput {
  display: flex;
  justify-content: end;
  background-color: rgb(0, 0, 0);
}

.inputBuscar {
  display: flex;
  background-color: rgb(223, 228, 137);
  padding: 10px 5px;
  border-radius: 100px;
  outline: none;
  border: solid 2px rgb(136, 134, 0);
}