.section {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dash {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.character {
  display: flex;
  flex-direction: column;
}

.character_center {
  column-count: 5;
  width: 1300px;
}

.cardCharacter {
  display: inline-block;
  flex-direction: column;
  background-color: rgb(190, 183, 80);
  justify-content: center;
  color: black;
  border: 5px solid rgb(69, 83, 4);
  border-radius: 7px;
  padding: 10px 10px;
  margin: 10px;
  text-align: center;
  width: 200px;
  height: 300px;
}

.cardCharacter > img {
  width: 150px;
  border-radius: 10px;
}

.cardCharacter > p {
  text-align: center;
  justify-content: left;
}

.locations {
  display: flex;
  flex-direction: column;
}

.locations_center {
  column-count: 3;
  width: 1500px;
}

.cardLocations {
  display: inline-block;
  flex-direction: column;
  background-color: rgb(190, 183, 80);
  color: black;
  border: 5px solid rgb(69, 83, 4);
  border-radius: 7px;
  padding: 10px 10px;
  margin: 10px;
  width: 300px;
  height: 350px;
}

.episodes {
  display: flex;
  flex-direction: column;
}

.episodes_center {
  column-count: 3;
  width: 0 auto;
}

.cardEpisodes {
  display: inline-block;
  flex-direction: column;
  background-color: rgb(190, 183, 80);
  color: black;
  border: 5px solid rgb(69, 83, 4);
  border-radius: 7px;
  padding: 10px 10px;
  margin: 10px;
  width: 300px;
  height: 350px;
}

.home {
  align-items: center;
  display: block;
  margin: auto;
  font-weight: bold;
}

.home > h1 {
  text-align: center;
}

.foot {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  justify-content: space-between;
  padding: 0 50px;
  box-shadow: 0px 2px 3px rgb(0,0,0,0.5);
}

.nav {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 50px;
  color: rgb(136, 134, 0);
}

.btn {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 15px 25px;
  transition: all 0.3s ease-in-out;
  border-radius: 0px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 100px;
}

.btn:hover {
  background-color: rgb(136, 134, 0);
}

.containerInput {
  display: flex;
  justify-content: end;
  background-color: rgb(0, 0, 0);
}

.inputBuscar {
  display: flex;
  background-color: rgb(223, 228, 137);
  padding: 10px 5px;
  border-radius: 100px;
  outline: none;
  border: solid 2px rgb(136, 134, 0);
}